@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-color: #f7ede8;
}
.button-shadow:hover {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}
.hero-left-swirl {
  top: 10%;
  left: 0;
}
.hero-right-stars {
  right: 5%;
  top: 30%;
}